attrs
backcall
beautifulsoup4
bleach
cachetools
colorama
cycler
decorator
defusedxml
docopt
easydict
entrypoints
enum34
gitdb2
GitPython
google
google-auth
h5py
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonpickle
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-http-over-ws
kiwisolver
lap
lapsolver
MarkupSafe
matplotlib
mistune
more-itertools
motmetrics
munch
munkres
nbconvert
nbformat
notebook
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
py-cpuinfo
pyasn1
pyasn1-modules
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
rsa
sacred
scipy
Send2Trash
simplegeneric
six
smmap2
soupsieve
tensorboardX
terminado
testpath
torch
torchvision
tornado
tqdm
traitlets
wcwidth
webencodings
widgetsnbextension
wrapt
zipp
